body {
  font-family: "DM sans";
  margin: 0;
  width: 100vw;
  max-height: 200vh;
  overflow-x: hidden;
}
/* navbar */
#logo {
  font-family: "Delius Unicase";
  font-weight: bold;
}

.page {
  max-width: 100%;
  max-height: 100%;
}

#nav {
  color: #ffffff;
  background-color: #6f6af7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vw;
  height: 6vh;
  padding: 2.5vh 3vw;
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  align-items: center;
}
li {
  list-style-type: none;
  color: #ffffff;
  margin-right: 4vw;
  font-size: 1.5vw;
}

#options {
  margin: auto;
}

#options input {
  border-radius: 0.9vw;
  padding: 1vh 1vw;
}

/* main part */

#cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 54vh;
  margin: 10vh 9vw 8vh 9vw;
}

img {
  width: 30vw;
  height: auto;
}

#textcard {
  border: 6px #ffffff;
  background-color: #e5d8ff;
  border-radius: 20px;
  color: #6f7373;
  padding: 2%;
  padding-right: 6%;
  margin: 1.5% 0 2% 0;
  width: 45vw;
  font-size: 1.2vw;
}

#smcards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8vh 9vw;
  text-align: flex-start;
}

.sm {
  border-radius: 12px;
  width: 20vw;
  color: #ffffff;
  padding: 2.6vh 3.4vh;
  width: 15vw;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 4.5vh;
  letter-spacing: 2px;
}

/* page 2 */
#page2 {
  display: flex;
  padding: 10vh 1vw 12vh 4vw;
}
#subpage {
  display: flex;
  flex-direction: row;

  border-radius: 12px;
  background-color: #483eff;
  height: 60vh;
  margin: 0vh 6vw;
  width: fit-content;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  width: 22vw;
  text-align: center;
  font-size: 1.7vw;
  font-weight: 700;
  justify-content: space-evenly;
  margin-left: 1vw;
  letter-spacing: 2px;
}

#list div {
  padding: 3vh 1vh;
  width: 16vw;
  border-radius: 12px;
}
#contact {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 50vw;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 5vh;
  padding: 4vh 0 0 3vw;
  margin: 2vh 2vw;
  border-radius: 12px;
}
#contact div {
  margin-left: 2vw;
  letter-spacing: 0.105vw;
  line-height: 5vh;
}

#contact input {
  border: none;
  padding: 1vh;
  pointer-events: none;
  color: #143565;
  font-size: 1.01vw;
}
#contact h2 {
  font-size: 1.8vw;
  letter-spacing: 0.1vh;
  font-weight: 700;
}

#contact button {
  text-align: start;
  padding: 1vh 2vw;
  font-size: 1.2vw;
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  margin-top: 8vh;
  margin-left: 37vw;
  margin-right: 10vh;
  color: #ffffff;
  background-color: black;
}

#list div {
  border: 5px solid #ffffff;
  color: #ffffff;
}

#list div:first-child {
  background-color: #bce0f6;
  color: black;
}

/* fixed items */
#social {
  position: sticky;
  top: 11vh;
  float: right;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-right: 1.5vw;
}

#social img {
  width: 2.5vw;
  border: 3px solid black;
  border-radius: 10px;
  padding: 6px;
  margin: 1px;
  background-color: white;
}

#help {
  width: 7.5vw;
  margin-top: 73vh;
  margin-left: 87vw;
  position: fixed;
}
